{% extends 'base.html' %}

{% block title %}
<title>Django Survey</title>
{% endblock %}

{% block main %}
  <div class="background p-5">
    {% if request.user.is_superuser %}
    <a href="{% url 'add_survey' %}" class="btn btn-primary mb-4">Add New Survey</a>
    {% endif %}
    {% if surveys %}
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead class="table-dark">
          <tr>
            <th scope="col ">Title</th>
            <th scope="col">Question</th>
          </tr>
        </thead>
        <tbody class="table-dark">
          {% for survey in surveys %}
          <tr>
            <td><a href="{% url 'survey_details' survey.id %}">{{ survey.title }}</a></td>
            <td>{{ survey.question }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
  <p class="alert alert-info">There is no surveys at the moment.</p>
  {% endif %}
  </div>
{% endblock %}

        