{% extends 'base.html' %}

{% block title %}
<title>My Surveys | Django Survey</title>
{% endblock %}

{% block main %}
    <div class="background p-5">
        <div class="d-flex flex-wrap mt-2" style="gap: 20px">
                
            {% for survey in surveys %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">{{ survey.title }}</h5>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ survey.question }}</li>
                    <li class="list-group-item">{{ survey.option1 }}</li>
                    <li class="list-group-item">{{ survey.option2 }}</li>
                    <li class="list-group-item">{{ survey.option3 }}</li>
                    <li class="list-group-item">{{ survey.option4 }}</li>
                    <li class="list-group-item">{{ survey.option5 }}</li>
                    </ul>
                    {% if survey.is_open %}
                    <a href="{% url 'close_survey' survey.id %}" class="btn btn-danger">Close Survey</a>
                    {% endif %}
                </div>
            </div>
            {% empty %}
                <h1 class="text-white ">You don't have any surveys.</h1>
            {% endfor %}
            
        </div>
    </div>
{% endblock %}