{% extends 'base.html' %}

{% block title %}
<title>Survey Details | Django Survey</title>
{% endblock %}

{% block main %}
<div>
  <div class="container"></div>`
  <p></p>
  <h1 class="text-white text-center mb-4">{{ survey.title }}</h1>
  <p></p>
    <div class="container border border-white" style="max-width: 540px;">
        <div class="row no-gutters bg-dark outline-none">
          <div class="col-md-8">
            {% if survey.is_open %}
            <form action="{% url 'answer_survey' survey.id%}" method="post" class="card-body">
              {% csrf_token %}
                <h5 class="card-text text-white mb-4 mt-4">{{ survey.question }}</h5>
                <div class="form-check">
                  <input class="form-check-input mb-4" type="checkbox" id="checkbox" name="option1_results" value="0">
                  <label class="form-check-label text-white mb-2" for="option1">{{ survey.option1 }}</label> 
                </div>
                <div class="form-check">
                  <input class="form-check-input mb-2" type="checkbox" id="checkbox" name="option2_results" value="0">
                  <label class="form-check-label text-white mb-2" for="option2">{{ survey.option2 }}</label> 
                </div>
                {% if survey.option3 != "" %}
                <div class="form-check">
                  <input class="form-check-input mb-2" type="checkbox" id="checkbox" name="option3_results" value="0">
                  <label class="form-check-label text-white mb-2" for="option3">{{ survey.option3 }}</label> 
                </div>
                {% endif %}
                {% if survey.option4 != "" %}
                <div class="form-check">
                  <input class="form-check-input mb-2" type="checkbox" id="checkbox" name="option4_results" value="0">
                  <label class="form-check-label text-white mb-2" for="option4">{{ survey.option4 }}</label> 
                </div>
                {% endif %}
                {% if survey.option5 != "" %}
                <div class="form-check">
                  <input class="form-check-input mb-2" type="checkbox" id="checkbox" name="option5_results" value="0">
                  <label class="form-check-label text-white mb-2" for="option5">{{ survey.option5 }}</label> 
                </div>
                {% endif %}
                <input type="submit" value="Save Answer" class="btn btn-primary mb-4 mt-4">
            </form>
            {% else %}
            <form action="" method="post" class="card-body">
              {% csrf_token %}
              <h5 class="card-text text-white">{{ survey.question }} - RESULTS</h5>
              <table class="table">
                  <thead class="table-dark">
                      <tr>
                          <th>Option</th>
                          <th>Votes</th>
                      </tr>
                  </thead>
                  <tbody class="table-dark">
                      <tr>
                          <td>{{ survey.option1 }}</td>
                          <td>{{ survey.option1_results }}</td>
                      </tr>
                      <tr>
                          <td>{{ survey.option2 }}</td>
                          <td>{{ survey.option2_results }}</td>
                      </tr>
                      
                      {% if survey.option3 != "" %}
                      <tr>
                          <td>{{ survey.option3 }}</td>
                          <td>{{ survey.option3_results }}</td>
                      </tr>
                      {% endif %}
                      {% if survey.option4 != "" %}
                      <tr>
                          <td>{{ survey.option4 }}</td>
                          <td>{{ survey.option4_results }}</td>
                      </tr>
                      {% endif %}
                      {% if survey.option5 != "" %}
                      <tr>
                          <td>{{ survey.option5 }}</td>
                          <td>{{ survey.option5_results }}</td>
                      </tr>
                      {% endif %}
                  </tbody>
              </table>
          </form>
          
            {% endif %}
          </div>
        </div>
      </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  $(document).ready(function() {
    var selectedCheckboxValue = null; 
    $('input[type="checkbox"]').change(function() {
      if ($(this).prop('checked')) {
        $('input[id="' + $(this).attr('id') + '"]').not($(this)).prop('checked', false);
        $(this).attr('value', "1");
      }
      else{
        $(this).attr('value', "0");
      }
    });

    $('#saveAnswerBtn').click(function(e) {
      e.preventDefault();
    });
    
  });
</script>
{% endblock %}