{% extends 'base.html' %}

{% block title %}
<title>Survey Details</title>
{% endblock %}

{% block main %}
<div>
  <div class="container"></div>
  <h1 class="text-white">{{ survey.title }}</h1>
    <div class="container card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-8">
            {% if survey.is_open %}
            <form action="{% url 'answer_survey' survey.id%}" method="post" class="card-body">
              {% csrf_token %}
                <h5 class="card-text">{{ survey.question }}</h5>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="checkbox" name="option1_results" value="0">
                  <label class="form-check-label" for="option1">{{ survey.option1 }}</label> 
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="checkbox" name="option2_results" value="0">
                  <label class="form-check-label" for="option2">{{ survey.option2 }}</label> 
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="checkbox" name="option3_results" value="0">
                  <label class="form-check-label" for="option3">{{ survey.option3 }}</label> 
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="checkbox" name="option4_results" value="0">
                  <label class="form-check-label" for="option4">{{ survey.option4 }}</label> 
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="checkbox" name="option5_results" value="0">
                  <label class="form-check-label" for="option5">{{ survey.option5 }}</label> 
                </div>
                <input type="submit" value="Save Answer" class="btn btn-primary mb-4">
            </form>
            {% else %}
            <a></a>
            {% endif %}
          </div>
        </div>
      </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  $(document).ready(function() {
    var selectedCheckboxValue = null; 
    $('input[type="checkbox"]').change(function() {
      if ($(this).prop('checked')) {
        $('input[id="' + $(this).attr('id') + '"]').not($(this)).prop('checked', false);
        $(this).attr('value', "1");
      }
      else{
        $(this).attr('value', "0");
      }
    });

    $('#saveAnswerBtn').click(function(e) {
      e.preventDefault();
    });
    
  });
</script>
{% endblock %}