{% extends 'base.html' %}

{% block title %}
<title>Survey Details</title>
{% endblock %}

{% block main %}
<div>
  <div class="container"></div>
  <h1 class="text-white">{{ survey.title }}</h1>
    <div class="container card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
              <div class="form-check form-check-inline">
                <h5 class="card-text">{{ survey.question }}</h5>
                <input class="form-check-input" type="checkbox" name="option" value="1" id="checkbox1"></input>
                <p class="card-text">{{ survey.option1 }}</p> 
                <input class="form-check-input" type="checkbox" name="option" value="2" id="checkbox2"></input>
                <p class="card-text">{{ survey.option2 }}</p>
                <input class="form-check-input" type="checkbox" name="option" value="3" id="checkbox3"></input>
                <p class="card-text">{{ survey.option3 }}</p>
                <input class="form-check-input" type="checkbox" name="option" value="4" id="checkbox4"></input>
                <p class="card-text">{{ survey.option4 }}</p>
                <input class="form-check-input" type="checkbox" name="option" value="5" id="checkbox5"></input>
                <p class="card-text">{{ survey.option5 }}</p>
              </div>
            </div>
            <a href="{% url 'answer_survey' survey.id %}" class="btn btn-primary mb-4">Save Answer</a>
          </div>
        </div>
      </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  $(document).ready(function() {
    $('input[type="checkbox"]').change(function() {
      if ($(this).prop('checked')) {
        var selectedOption = $(this).val();
        console.log(selectedOption)
        $('input[name="' + $(this).attr('name') + '"]').not($(this)).prop('checked', false);
      }
    });

    $('#saveAnswerBtn').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}